@import url(modules/header.css);
@import url(typography.css);
@import url(components/button.css);
@import url(components/main.css);

html {
  -webkit-box-sizing: border-box;
       box-sizing: border-box;
}



*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
      box-sizing: inherit;
}

.portfolio-body{
  background-color: hsl(36,100%,99.02%);
}